.ResumePage {
    padding: 20px;

    .Paragraph {
        text-align: justify;
    }

    .Section {
        margin-bottom: 20px;
    }

    .SectionTitle {
        text-transform: uppercase;
        text-align: center;
    }
}

@media all and (min-width: 768px) {
    .ResumePage {
        max-width: 800px;
        margin: 0 auto;
    }
}