.TimeLine {
    margin-bottom: 12px;

    a {
        text-decoration: none;
    }

    .HeadTime {
        display: flex;
        justify-content: space-between;
        font-weight: 600;

        .TimeTitle {
            a {
                color: #333;
            }
        }

        .TimeRange {
            color: #999;
            font-weight: normal;
        }
    }
}