.TimeLine {
    margin-bottom: 10px;

    a {
        text-decoration: none;
    }

    .HeadTime {
        display: flex;
        justify-content: space-between;
        font-weight: 600;

        .TimeTitle {
            a {
                color: #333;
            }
        }
    }
}