.ResumeV2 {
  padding: 50px;
  font-size: 1rem;
  background-color: #fff;

  @import "./Section";
  @import "./ResumeHeaderV2";
  @import "./Education";
  @import "./HeaderQR";

  @media all and (min-width: 768px) {
    max-width: 900px;
    margin: 0 auto;
  }
}

