.ResumeV2 {
  padding: 30px;
  background-color: #fff;

  @import "./Section";
  @import "./ResumeHeaderV2";
  @import "./Education";
  @import "./HeaderQR";

  @media all and (min-width: 475px) {
    max-width: 900px;
    margin: 0 auto;
  }
}

