.ListExperiences {
  .Experience {
    margin-bottom: .5rem;

    &:last-child {
      margin-bottom: 0;
    }

    .JobTitle {
      font-size: 1rem;
      font-weight: 600;
    }

    .JobOrg {
      @include secondaryColor;
      @include subSize;
    }

    .Meta {
      @include subContent;
    }

    ul {
      @include subSize;
      @include contentColor;
      padding-left: .875rem;
      margin: 0;
    }

    .TechStacks {
      margin-top: .25rem;
      @include contentColor;

      svg {
        margin-right: .25rem;
        margin-top: .25rem;
      }

      .Stacks {
        @include subSize;

        .Stack {
          max-width: 100%;
          padding: 0 5px;
          border: 1px solid #ddd;
          border-radius: 5px;
          margin-right: 5px;
          margin-bottom: .25rem;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

