.ResumeHeader {
  h1 {
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 0;
  }

  h3 {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: .25rem;
  }

  .Contact {
    font-size: .75rem;
  }
}
