@import "./variables";
@import "./mixin";

a {
  text-decoration: none;
  color: #2e2e2f;
}

strong {
  font-weight: 600;
}

body {
  background-color: #525659;

  @media print {
    font-family: "Helvetica Neue", sans-serif;
  }
}
