@mixin primaryColor {
  color: $primaryColor;
}

@mixin secondaryColor {
  color: $secondaryColor;
}

@mixin subSize {
  font-size: .875rem;
}

@mixin subColor {
  color: rgba(0, 0, 0, 0.6);
}

@mixin contentColor {
  color: rgba(0, 0, 0, 0.9);
}

@mixin subContent {
  @include subSize;
  @include subColor;
}
